.flex-row{
    display: flex;
    display: -webkit-flex;
    flex-wrap:wrap;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
}
.flex-row:before, .flex-row:after{
    display: none;
}
.bootstrap-datetimepicker-widget {
    width: 100%;
}
